#header {
    position: relative;
	background: #ffffff;
	border-bottom: solid 1px #ccc;
	/* margin-top: 10em; */
    padding: 3em 0 2em 0;
	text-align: center
    /* width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-family: 'Signika Negative', sans-serif;
    border-bottom: 1px solid green;
    border-bottom-width: medium; */
}

    #header h1 {
        color: #252122;
        font-weight: 900;
        font-size: 2.5em;
        letter-spacing: -0.035em;
        line-height: 1;
    }

    #nav {
        margin: 2.5em 0 0 0;
    }
    
        #nav > ul {
            margin: 0;
        }
    
            #nav > ul > li {
                display: inline-block;
                font-style: italic;
                margin: 0 0.35em 0 0.35em;
            }
    
                #nav > ul > li > ul {
                    display: none;
                }
    
                #nav > ul > li > a {
                    border-radius: 5px;
                    color: #5d5d5d;
                    text-decoration: none;
                    padding: 0.6em 1.2em 0.6em 1.2em;
                    -moz-transition: background-color .25s ease-in-out;
                    -webkit-transition: background-color .25s ease-in-out;
                    -ms-transition: background-color .25s ease-in-out;
                    transition: background-color .25s ease-in-out;
                    outline: 0;
                }
    
                #nav > ul > li:hover > a, #nav > ul > li.active > a {
                    background: #f3f3f3;
                }
    
                #nav > ul > li.current > a {
                    background: #d52349;
                    color: #fff !important;
                    font-weight: 700;
                }



.mb-3 {
    display: inline-block;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.form-label {
    margin: 1em 0 0 0;
}

.form-control {
    margin: 1em 0 0 0;
}

#img {
    /* padding: 3em; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ct {
    margin: 1em;
    width: 256x;
    height: 256px;
}

#text {
    margin: 1em;
    font-size: 2vw;
}
    #text > p .bold-text{
        font-weight: bold;
    }